<footer class="row">
  <div class="col-sm-3 text-center">
    <a href="mailto:nazcaastronaut@gmail.com?subject=Interstellar%20Message&body=Do%20you%20exist?">
      <i class="fa fa-paper-plane fa-2x"></i>
    </a>
  </div>
  <div class="col-sm-3 text-center">
    <a href="http://www.linkedin.com/in/christopherduarte">
      <i class="fa fa-linkedin fa-2x"></i>
    </a>
  </div>
  <div class="col-sm-3 text-center">
    <a href="https://www.twitter.com/chrisduarte">
      <i class="fa fa-twitter fa-2x"></i>
    </a>
  </div>
  <div class="col-sm-3 text-center">
    <a href="https://gist.github.com/cdduarte">
      <i class="fa fa-github-alt fa-2x"></i>
    </a>
  </div>
</footer>
