@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Montserrat+Subrayada');

body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #43f2ec; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #43f2ec 0%, #f44bf4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#43f2ec), color-stop(100%,#f44bf4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #43f2ec 0%,#f44bf4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #43f2ec 0%,#f44bf4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #43f2ec 0%,#f44bf4 100%); /* IE10+ */
  background: linear-gradient(45deg,  #43f2ec 0%,#f44bf4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43f2ec', endColorstr='#f44bf4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(67, 242, 236, .7);
  text-align: center;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
